flask
firebase-admin
cython 
pillow
numpy
opencv-python
torch --extra-index-url https://download.pytorch.org/whl/cpu
torchvision --extra-index-url https://download.pytorch.org/whl/cpu
pytest
tqdm
scipy
matplotlib
mock
imageai